html {
	font-family: "Times New Roman", sans-serif;
	font-size: 20px;
	font-weight: bold;
	background: blue;
}

p {
	color: yellow;
}

.blue_paragraph {
	color: pink;
}

#cow_image {
	width: 100px;
	height: 100px;
}
li{
	display:inline;
}