html {
	font-family: "Times New Roman", sans-serif;
	font-size: 20px;
	font-weight: bold;
	background: red;
}
#UL.float {
	position:absolute;
	left:0;
	right:0;
    width:220px;
    background:yellow;
	background-color: green;
	margin-left: auto;
	margin-bottom:auto;
}	
p {
	color: blue;
}

.blue_paragraph {
	color: blue;
}

#cow_image {
	width: 100px;
	height: 100px;
}
li{
	display:inline;
}